@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #245CA6;
    --cor2: #243040;
    --cor3: #04B2D9;
    --cor4: #F2C094;
    --cor5: #BF5239;

    --font1: 'Domine', 'cursive';
    --font2: 'Roboto', 'cursive';
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor5);
    height: 100vh;
}
h1{
    font-family: var(--font1);
    padding-bottom: 13px;
}
h2{
    padding: 5px 0px;
}
header{
    background-color: var(--cor1);
    display:flex;
    justify-content: left;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.952);
    border-radius: 5px;
    padding-left: 6.2%;
}
header h1{
   padding-top: 40px;
}
header p{
    font-family: var(--font2);
    padding-left: 9px;
    margin: 8px 0px;
}
img#iconeh{
    margin: 0px;
    padding: 0px;
    width: 15px;
    height: 15px;
}
img#icone{
    padding: 0px;
    width: 35px;
    height: 35px;
    margin: 2px 4px;
    border-radius: 50%;
    margin: 5px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
}
section{
    background-color: var(--cor4);
    font-family: var(--font2);
    font-size: 90%;
    width: 80%;
    margin: auto;
    min-height: 50vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.952);
}
p{
    line-height: 1.3;
    text-indent: 15px;
}
div#conteudo{
    padding: 10px;
}
div#redes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    font-size: 150%;
    justify-content: center;
    
}
div#redes > p{
    display: flex;    
    align-items: center;
}
a{
    text-decoration: underline;
    color: rgba(0, 0, 177, 0.836);
    margin: 0px 7px;
    
}
a:hover{
    text-decoration: underline;
    color: #245CA6;
    
}
img{
    padding: 10px 30px 10px 50px;
}
footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
}
#reduzido{
    display: none;
}
#medio{
    display: none;
}
.mediano {
    display: none;
}
.menor{
    display: none;
}
@media (max-width: 780px){
    #completo {
        display: none;
    }
    #perfil{
        width: 180px;
    }
    #medio{
        display: block;
    }
}
@media (max-width: 609px){
    #medio {
        display: none;
    }
    #perfil{
        width: 160px;
        padding: 5px 5px 5px 35px;
    }
    #reduzido{
        display: block;
    }
}
@media (max-width: 780px){
    .maior {
        display: none;
    }
    .menor{
        display: block;
    }
}